@import "@/styles/breakpoints";

.page {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    .section {
        min-height: 100%;
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    @include mobile {
        .section {
            padding: 48px 0;
        }
    }
}
