@import "@/styles/breakpoints";

.wrapper {
    position: relative;
    border-radius: 100%;
    border: 1px solid var(--color-gray);
    overflow: hidden;
    width: 40px;
    height: 40px;

    img {
        object-fit: cover;
    }
}

@include mobile {
    .wrapper {
        width: 30px;
        height: 30px;
    }
}
