.wrapper {
    position: absolute;
    right: 0;
    top: 100%;
    width: 120px;
    padding: 4px;
    margin-top: 2px;
    background-color: var(--color-white);
    border: 1px solid var(--color-lightGray);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    > .button {
        width: 100%;
        padding: 8px 0;
        border-radius: 8px;
        font-size: var(--fontSize-md);
        color: var(--color-darkGray);
        font-weight: var(--fontWeight-semiBold);
    }

    > .button:hover {
        background-color: var(--color-main3);
    }
}
