@use "@/styles/breakpoints" as bp;

.filter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    font-size: var(--fontSize-md);

    > .item {
        background-color: var(--color-main2);
        width: 90px;
        padding: 8px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        cursor: pointer;
        transition: all 200ms ease-in-out;

        @include bp.mobile {
            padding: 8px;
        }
    }

    > .item:hover {
        background-color: var(--color-main1);
        color: var(--color-lightGray);
        font-weight: var(--fontWeight-semiBold);
    }

    > .selected {
        background-color: var(--color-main1);
        color: var(--color-lightGray);
        font-weight: var(--fontWeight-semiBold);
    }
}
