.summary {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;

        .iconWrapper {
            width: 32px;
            height: 32px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .count {
            font-size: var(--fontSize-2xl);
            font-weight: bold;
        }

        .label {
            font-size: var(--fontSize-md);
            color: var(--color-darkGray);
        }
    }
}
